
*{box-sizing: border-box;}
.main1  {  
            width:100%;
            border:0;
            padding:0;
        }
.topbar {   background-color: rgb(192, 189, 189);
            padding: 0;
            margin:0;
            position: relative;
            height:30px;
            font-size: small;
            font-weight: bolder;
            display: block;
        }
.topbar ul  {
                list-style-type:none;
                margin-left:20px;  
                text-align:center;
                     
             }
.topbar li  {
                float:left;
                padding:5px;
            }
.topbar li select { 
                    background-color: rgb(192, 189, 189);
                  }
.topbar::after {
                    content:"";
                    display: table;
                    clear: both;
                }
.column {
            display: block;
            float: left;
            width:33.33%;
            height:70px;
            padding: 0px;
            background-color: whitesmoke;
            text-align: center;
        }
.row{
        margin-top: 0;
        text-align:center;
    }
.row:after {
		        content: " ";
		        display: table;
                clear: both;
            }
.selectbar {
                background-color: #333;
                margin-top:0;
                height:30px; 
                overflow:hidden;
                padding:0 0px;
            }
               
.selectbar  a{ 
                padding:6px 20px;
                text-decoration: none;
                text-align: center;
                display:block;
                float:left;
                color:white;        
            }
.selectbar::after{ 
                    content: "";
                    display: table;
                    clear: both;
                 }
.selectbar a:hover { background-color:#ddd; color:black;}

.main2 {
            left: 5%;
            right:5%;
            padding-top: 0;
            background-color:white;
            position: relative;
            height:900px;
            width: 90%;
        
        }



.main21{
            background-color: rgb(248, 245, 245);
            height: 550px;    
        }
.main21header{
                background-color: whitesmoke;
                height: 67%;
                width:100%;
                border: 4px solid rgb(235, 232, 232);
                background-image: url("header.jpg");
                background-repeat: no-repeat;
                opacity: 0.8;
                background-size: cover;
                background-position: center;
                position: relative;
            }

.main21type {
                background-color:whitesmoke;
                height: 33%;
                margin-top: 0;
                text-align: center;
            }
.main21type_column { 
                        width:25%;
                        height: 100%;
                        float:left;
                        display:block;
                        border: 4px solid rgb(212, 210, 210);
                        padding:0;
                        opacity: 0.8;
                        background-color:black;
                    }
.main21type::after {
                        content: "";
                        display: table;
                        clear: both;
                    }
.main21type_column:hover { border:2px solid black;}


.main22{ 
            height:660px;
            background-color:rgba(187, 185, 185, 0.575);
        }
.main22_select {
                    background-color:rgb(175, 174, 174);
                    margin:0;
                    height:5%; 
                    overflow:hidden;
                    margin-left:4px;
                    margin-right: 4px;
                    padding:0;
                }
               
.main22_select a{ 
                    padding:6px 12px;
                    text-decoration: none;
                    text-align: center;
                    color:black;
                    display:block;
                    float:left;       
                }
.main22_select:after {
                        content:"";
                        display:table;
                        clear: both;
                     }
.main22_select a:hover { background-color:black; color:white;}

.main22_item_row{
                    height: 45%; 
                    margin-top: 9px;      
                }
.main22_item_column{
                        float:left;
                        display:block;
                        margin-left: 7px;
                        margin-bottom: 10px;
                        height:100%;
                        padding:0;
                        background-color: white;
                        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
                        border: 1px solid rgba(128, 128, 128, 0.486);
                        width:16%;
                    }
.main22_item_column:hover{
                            border: 2px solid rgba(0, 0, 0, 0.568);
                         }
.main22_item_row::after {
                            content:"";
                            display: table;
                            clear: both;
                        }
.sale_alcohol{
                height: 20%;
                width:100%;
                background-color: white;
            }
.sale_alcohol_column{
                        float: left;
                        width: 33.33%;
                        height: 100%;
                    }
.sale_alcohol::after{
                        content:"";
                        display: table;
                        clear: both;
                    }
.fig_alcohol{
                height: 50%;
                width:100%;
                background-color: white;
            }
.fig_alcohol img{ 
                    width:100px;
                    height:180px;
                    margin-top:-35px;
                }
.price_alcohol {
                    height:20%;
                    width:100%;
                    background-color:white;
                    text-align: left;
                    padding-left: 10px;
                    line-height: 18px;
                }
.price_alcohol_footer{
                        height: 10%;
                        width:100%;
                        background-color: white;
                     }
.price_alcohol_footer button{
                                width:90%;
                                margin-top: 0;
                                margin-left: 8px;
                                margin-bottom:8px;
                                padding:3px 3px;
                                text-align: center;
                                color:white;
                                background-color: rgb(151, 16, 16);
                                border:none;
                            }
.price_alcohol_footer button:hover{
                                    background-color: gray;
                                    color:white;
                                    font-weight: bold;
                                  }
.main23text{
                height:600px;
                background-color:rgb(212, 210, 210);
            }
.main23text_row {
                    height:60%;
                    margin-left: 11px;
                    margin-right: 12px;
                    margin-bottom: 12px;
                }
.main23text_column {
                        float:left;
                        display:block;
                        height:100%;
                        width:33.33%;
                        border:1px solid rgba(184, 181, 181, 0.7);
                        background-color: white;
                        
                   }
.main23text_row:after{
                    content:"";
                    display:table;
                    clear: both;
                }
.image img  {
                float:left;
                border-radius: 50%; 
                margin-left: 10px;
                width:50px;
                height:50px;

            }
.footer {
            height:40%;
            background-color:rgb(26, 16, 16);
        }
.footer_column {
                    width: 33.33%;
                    height:100%;
                    float: left;
                    text-align: center;
                    display: block;
                }
.footer::after {
                    content:"";
                    display: table;
                    clear: both;
                }
.grid-container{ 
                    display: grid;
                    grid-template-columns:50% 50%;
                    grid-template-rows: 230px;
                    grid-gap: 5px;
                    background-color: rgb(26, 16, 16);
                    padding:5px;
                }
.grid-container > div { 
                    
                    text-align:left;
                    padding: 2px 0;
                    font-size: 20px;
                    color:rgba(255, 255, 255, 0.562);
                }
